html.dark {
    color-scheme: dark;
    background-color: #333333;
}
html.dark body {
    background-color: #333333;
    color: #fff;
}
html.dark .btn {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}
html.dark .btn:hover {
    background-color: #fff;
    color: black;
}
html.dark .btn:disabled {
    background-color: #666666;
    color: #ccc;
}
html.dark input {
    background-color: #666666;
    color: #fff;
}
html.dark header {
    background-color: black;
}
html.dark header button {
    background-color: white;
}
html.dark .nav-link, html.dark .nav2 {
    color: #fff;
}
html.dark .nav-link.navi-activated, html.dark .nav2.navi-activated {
    background-color: rgba(255, 255, 255, 0.87);
    color: #333;
}
html.dark th {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #666;
}
html.dark td, .form-header {
    background-color: #444;
    border-color: #666;
}
html.dark .list-about li, .card-header, .form, .form-header{
    border-color: #666;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
}
html.dark .form-header {
    background-color: #666666;
    border-color: #666;
}
html.dark .form{
    border-color: #666;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
}
html.dark .toggle {
    background-color: rgba(255, 255, 255, 0.78);
}
body {
    align-items: center;
    justify-content: center;
}

#app {
    margin: 20px 0 20px 0;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    font-weight: normal;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}
header {
    background-color: #cccccc;
}
.btn:hover {
    background-color: #0056b3;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}

.left, .right {
    max-height: 90vh;
    overflow-y: auto;
    flex-basis: 100%;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.navigate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigate li{
    margin-top: 5px;
    margin-bottom: 5px;

}
.nav-link, .nav2 {
    text-decoration: none;
    margin: 0 20px;
    color: #030000;
    transition: color 0.1ms ease, background-color 0.1ms ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link.navi-activated, .nav2.navi-activated {
    font-weight: 700;
    background-color: rgba(20, 20, 20, 0.98);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.list{
    background-color: #04AA6D;
}
.nav-link:hover, .nav2:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0d6efd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.text-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #04AA6D;
    color: white;
}

tfoot td{
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h3 {
    margin-top: 40px;
    color: #333;
}

.navbar-btn{
    position: absolute;
    left: 20px;
    top:10px;
    margin-bottom: 20px;
    display: inline-block;
}
.user-icon {
    position: absolute;
    right: 20px;
    top:20px;
    display: inline-block;
}

.user-menu {
    position: absolute;
    background-color: #555;
    color: #fff;
    display: block;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    width: max-content;
    z-index: 1;
}

.user-menu .nav2 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.user-icon:hover .user-menu {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.about {
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: #fff;
    padding: 20px;
    position: absolute;
    width: 100%;
    left: 0;
}
.list-about-me li{
    border-color: #666;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
}